<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <div class="mb-3">
            <input type="email" id="email" class="form-control" name="email" placeholder="enter your email">
            <input type="password" id="passwoed" class="form-control" name="password" placeholder="enter your password">
        </div>
        <input type="submit" class="btn btn-primary" value="add">
    </form>
</body>
</html>